.items {
    min-width: 50vw;
    display: flex;
    font-weight: bold;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    padding: 32px;
    border-radius: 12px;
    background-color: hsla(215, 98%, 79%, 0.1);
    box-shadow: inset 2px 2px 5px #babecc, inset -5px -5px 10px #fff
  }

  .span {
  list-style: none;
  padding-left: 0;
  margin-top: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 16px;
  }

  .itemBtn {
  margin-left: 10px;
  width: 60px;
  color: #090909;
  outline: none;
  border-radius: 40px;
  background: #e0edf0;
  border: 1px solid #e8e8e8;
  transition: all 0.3s;
  box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
  cursor: pointer;
  }